# -------------------------
# ENV FILES
# -------------------------
.env
*.env

# -------------------------
# NODE (frontend + backend)
# -------------------------
node_modules/
dist/
build/

# -------------------------
# PYTHON
# -------------------------
__pycache__/
*.pyc

# -------------------------
# JUPYTER
# -------------------------
.ipynb_checkpoints/
ml-model/notebook/

# -------------------------
# LOGS
# -------------------------
*.log

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/